.header {
  margin-bottom: var(--space-xl);
}

.items {
  overflow-y: scroll;
  height: calc(100vh - 200px);
}

.column {
  padding: var(--scroll-bar-size) var(--scroll-bar-size);
  padding-right: 0;
  border-radius: var(--border-radius-s);
  transition: var(--transition-slow);
  box-shadow: 0 0 0 0 transparent inset;
}

.column.active {
  box-shadow: 0 0 0 3px var(--color-background-action) inset;
}
